* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*Navbar Structure*/
.navbar {
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  background-color: #C2CEF8;
}

/*Navbar Skins*/
.navbar-logo{
  width: 100px;
  height: 40px;
}

.navbar-mobile{
display: none;
position: absolute;
top: 0;
right: 0;
font-size: 38px;
padding: 20px 10px 0 0;
}

@media screen and (max-width: 900px) {
  .navbar-mobile {
    display: block;
  color: white;
  }
}